.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'PT Sans', sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

p {
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

a {
  font-family: 'Open Sans', sans-serif;
  text-decoration: underline;
}

.navbar {
  background-color: #f4fcff;
}

.text-block {
  padding-top: 16px;
}

.section {
  min-height: 320px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-color: #f4fcff;
}

.top-nav {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.hero-text {
  margin-bottom: 10px;
  font-size: 50px;
}

.hero-div-left {
  padding-top: 87px;
}

.hero-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hero-div-right {
  position: relative;
}

.hero-desc {
  font-size: 18px;
}

.link {
  font-style: normal;
}

.link-read-more {
  display: block;
  width: 150px;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 3px;
  background-color: #1b3d57;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.section-partner {
  padding: 40px 60px;
}

.customers {
  padding-right: 30px;
  padding-left: 30px;
  color: #8a8a8a;
}

.partner-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo {
  padding-right: 10px;
  padding-left: 10px;
}

.logo.logo-mtn {
  margin-right: 9px;
  padding-right: 6px;
}

.section-about {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: transparent;
}

.about-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about-title-span {
  display: block;
  margin-top: -7px;
  padding-top: 0px;
  color: #878787;
  font-size: 33px;
}

.about-title {
  color: #1b3d57;
  font-size: 45px;
}

.feature1-image1 {
  height: 420px;
  margin-bottom: 20px;
  border-radius: 8px;
  background-image: url('../images/shop-lady.jpeg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.feature1-content {
  padding-right: 80px;
}

.text-16 {
  display: inline-block;
  font-size: 16px;
  line-height: 26px;
}

.text-16.text-16-60 {
  opacity: 0.6;
  font-family: Roboto, sans-serif;
  line-height: 24px;
  text-align: left;
}

.decoline {
  width: 30px;
  height: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #d2d2d2;
}

._6-col {
  display: inline-block;
  width: 460px;
  margin-right: 20px;
}

._3-col {
  display: inline-block;
  width: 25%;
  margin-right: 10px;
}

._3-col._3-col-last {
  margin-right: 0px;
}

.feature1-image2 {
  height: 120px;
  border-radius: 8px;
  background-image: url('../images/online-card.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 11px 25px;
  float: none;
  border-radius: 4px;
  background-color: #1991eb;
  -webkit-transition: color 200ms ease, box-shadow 200ms ease, background-color 200ms ease, -webkit-transform 400ms ease;
  transition: color 200ms ease, box-shadow 200ms ease, background-color 200ms ease, -webkit-transform 400ms ease;
  transition: color 200ms ease, box-shadow 200ms ease, background-color 200ms ease, transform 400ms ease;
  transition: color 200ms ease, box-shadow 200ms ease, background-color 200ms ease, transform 400ms ease, -webkit-transform 400ms ease;
  color: #fff;
  line-height: 24px;
  text-align: center;
}

.btn:hover {
  border-color: #0c6eb8;
  background-color: #1386dd;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1);
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
  color: #fff;
}

.btn:active {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
  -webkit-transform: translate(0px, -1px);
  -ms-transform: translate(0px, -1px);
  transform: translate(0px, -1px);
}

.btn.btn-outline-light {
  margin-right: 10px;
  margin-left: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(17, 18, 18, .05);
  background-color: transparent;
  color: #111212;
}

.btn.btn-outline-light:hover {
  border-color: rgba(17, 18, 18, .1);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .05);
}

.btn.btn-outline-light:active {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
}

.btn.btn-outline-light.signup {
  background-color: #a80000;
  color: #fff;
}

.wrap {
  display: block;
  width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.wrap.w80-50-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrap.w80-50 {
  display: block;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 50px;
}

.text-14 {
  line-height: 24px;
}

.text-14.text-14-30 {
  opacity: 0.3;
}

.feature1-image3 {
  height: 420px;
  border-radius: 8px;
  background-image: url('../images/in-store.jpeg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-2 {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f4fcff;
}

.section-faq {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f4fcff;
}

.tabs-menu {
  position: relative;
  top: 1px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}

.ok {
  width: 500px;
  height: 100px;
  background-color: #b3b3b3;
}

.ok1 {
  width: 400px;
  height: 100px;
  margin-right: 0px;
  background-color: #b3b3b3;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.accordion-wrapper {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.accordion-item {
  position: relative;
  display: block;
}

.accordion-item-trigger {
  position: relative;
  width: 35%;
  cursor: pointer;
}

.accordion-item-content {
  display: block;
  overflow: hidden;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.accordion-content-text {
  overflow: visible;
  color: #696969;
  text-align: justify;
}

.heading {
  margin-bottom: 26px;
  color: #1b3d57;
  text-align: center;
}

.image {
  position: relative;
  margin-bottom: -60px;
  padding-top: 20px;
}

.image-2 {
  padding-top: 10px;
}

.big-article-title-wrapper {
  width: 100%;
}

.signup-image-wrapper {
  display: block;
  height: 100%;
  padding-left: 0px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-image: url('../images/signup-cover.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.signup-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 510px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .05);
}

.signup-content-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 45px 50px 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #fff;
}

.error-message {
  padding: 0px;
  border-radius: 4px;
  background-color: transparent;
}

.success-message {
  background-color: transparent;
}

.register-link {
  display: inline-block;
  cursor: pointer;
}

.error-message-text {
  display: inline-block;
  color: #f85359;
}

.tagline {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.tagline.tagline-promo-40 {
  color: rgba(51, 51, 51, .4);
  text-align: center;
}

.success-message-text {
  margin-top: 20px;
  color: #1991eb;
  font-size: 16px;
  line-height: 24px;
}

.button {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 9px 25px;
  float: none;
  border-radius: 4px;
  background-color: #ad0000;
  -webkit-transition: color 200ms ease, box-shadow 200ms ease, background-color 200ms ease;
  transition: color 200ms ease, box-shadow 200ms ease, background-color 200ms ease;
  color: #fff;
  line-height: 22px;
}

.button:hover {
  border-color: #0c6eb8;
  background-color: #1386dd;
  color: #fff;
}

.tag-wrapper {
  margin-top: 35px;
  margin-bottom: 35px;
  padding-right: 5px;
  padding-left: 5px;
}

.text-field {
  width: 100%;
  height: 40px;
  margin-bottom: 14px;
  padding-right: 16px;
  padding-left: 16px;
  border: 1px solid #ececec;
  border-radius: 4px;
  -webkit-transition: border-color 200ms ease;
  transition: border-color 200ms ease;
}

.text-field:hover {
  border-color: #d8d8d8;
}

.text-field:focus {
  border-color: #a3a3a3;
}

.text-field::-webkit-input-placeholder {
  color: #ccc;
}

.text-field:-ms-input-placeholder {
  color: #ccc;
}

.text-field::-ms-input-placeholder {
  color: #ccc;
}

.text-field::placeholder {
  color: #ccc;
}

.divider {
  height: 1px;
  margin-top: 20px;
  margin-bottom: 15px;
  background-color: #eee;
}

.style-label {
  color: #bebebe;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.form-submit-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.signup-account-link {
  display: inline-block;
  color: #999;
}

.signup-headline {
  margin-bottom: 15px;
}

.section-3 {
  height: 100%;
}

.field-label {
  color: #ad0000;
}

.field-label-2 {
  color: #ac0000;
}

.bold-text {
  font-size: 25px;
}

.acc-owner {
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.navbar-2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #292929;
  color: #000;
}

.text-block-2 {
  color: #fff;
  font-size: 12px;
}

.icon {
  margin-top: 3px;
  color: #fff;
}

.image-3 {
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.flex-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  margin-right: 0px;
  margin-left: 140px;
  padding-right: 0px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.header-section {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.side-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 22%;
  padding: 48px 0px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none solid none none;
  border-width: 1px;
  border-color: hsla(185.35031847133757, 0.00%, 78.67%, 1.00) #f5f5f5 hsla(185.35031847133757, 0.00%, 78.67%, 1.00) hsla(185.35031847133757, 0.00%, 78.67%, 1.00);
}

.main-content {
  overflow: auto;
  padding: 80px 140px 20px 40px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-style: none;
  border-width: 1px 0px 0px 1px;
  border-color: hsla(185.35031847133757, 0.00%, 30.67%, 1.00) hsla(185.35031847133757, 0.00%, 30.67%, 1.00) hsla(185.35031847133757, 0.00%, 9.33%, 1.00);
}

.side-menu {
  padding: 0px auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.dd-link {
  font-size: 12px;
}

.dropdown-toggle {
  margin-top: 14px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.dropdown-toggle.w--open {
  margin-top: 14px;
  padding-top: 0px;
}

.container-3 {
  display: block;
  padding-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav-link {
  margin-top: 0px;
  padding-top: 0px;
}

.dropdown {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 10px;
}

.dropdown-list {
  padding-top: 2px;
}

.dropdown-list.w--open {
  margin-top: 14px;
  padding-top: 0px;
}

.content7-numbers-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.headline-6-col {
  width: 460px;
  margin-bottom: 50px;
}

.content7-number-card {
  padding: 10px 30px 20px;
  border-radius: 8px;
  background-color: #111212;
  color: #fff;
}

.content7-number-card.content7-number-card-content3 {
  background-color: #3e2829;
}

.content7-number-card.content7-number-card-content2 {
  background-color: hsla(185.35031847133757, 0.00%, 30.67%, 1.00);
}

.content7-number-card.content7-number-card-content4 {
  background-color: #283e2d;
}

.content7-number-card.content7-number-card-content1 {
  padding-right: 20px;
  padding-left: 20px;
  background-color: hsla(185.35031847133757, 0.00%, 30.67%, 1.00);
}

.tagline-2 {
  display: block;
  opacity: 0.6;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.content7-number-card-no-wrap {
  margin-top: -5px;
  margin-bottom: -5px;
}

.h2-jumbo {
  font-size: 44px;
  line-height: 56px;
  font-weight: 300;
}

.content7-divider {
  height: 1px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: hsla(0, 0%, 100%, .1);
}

.menu-container {
  position: relative;
  width: 100%;
}

.nav-title {
  padding: 10px 10px 10px 22px;
  border-bottom: 1px solid #c9c9c9;
  background-color: hsla(0, 0%, 79%, .28);
  font-size: 12px;
  font-weight: 600;
  text-align: left;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.menu-content {
  position: absolute;
  overflow: hidden;
  width: 100%;
  background-color: transparent;
  color: transparent;
}

.menu-link {
  display: block;
  padding: 10px 25px 10px 21px;
  border: 0px none #000;
  background-color: transparent;
  text-decoration: none;
}

.menu-link:hover {
  padding-left: 16px;
  border-right: 0px none #c9c9c9;
  border-bottom: 0px none #c9c9c9;
  border-left: 5px solid hsla(356.02649006622516, 62.14%, 47.65%, 1.00);
  background-color: #c9c9c9;
  color: transparent;
}

.menu-link.w--current {
  margin-left: 0px;
  padding-left: 15px;
  border-left: 5px solid hsla(356.02649006622516, 62.14%, 47.65%, 1.00);
  background-color: #c9c9c9;
}

.link-text {
  padding-left: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #424242;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
}

.link-text:hover {
  margin-left: 0px;
  color: #000;
}

.div-block {
  height: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #f4f4f4;
}

.font-awe {
  display: inline-block;
  padding-right: 5px;
  font-family: 'Fa solid 900', sans-serif;
  font-weight: 400;
  text-align: left;
}

.fas-fa-user-plus {
  font-family: 'Fa brands 400', sans-serif;
}

.profile-container {
  margin-top: 0px;
  padding-right: 60px;
  padding-left: 50px;
}

.journey-map {
  padding-top: 20px;
}

.grid {
  margin-top: -17px;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.map-count {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #292929;
}

.map-count.steps {
  background-color: hsla(356.02649006622516, 62.14%, 47.65%, 1.00);
}

.map-digit {
  padding: 5px;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.map-line {
  position: static;
  display: block;
  height: 5px;
  margin-top: 0px;
  margin-right: 60px;
  margin-left: 60px;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #ededed;
}

.profiler {
  display: block;
  margin-top: 0px;
  padding: 20px;
  background-color: #f0f0f0;
}

.info-list {
  margin-bottom: 5px;
  opacity: 0.6;
  color: #000;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: none;
}

.heading-2 {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 20px;
  text-transform: uppercase;
}

.heading-2.cards-title {
  font-size: 17px;
}

.text-block-3 {
  margin-left: 0px;
  padding-left: 13px;
  font-size: 12px;
}

.form-block {
  display: block;
  margin-top: 0px;
  padding: 30px 50px 50px;
  border-style: none;
  border-width: 0px;
  border-color: #c9c9c9;
  border-radius: 0px;
}

.form-block.required {
  margin-bottom: -40px;
  padding: 40px;
}

.form-block.required.card-page {
  padding-top: 11px;
  padding-right: 50px;
  padding-left: 50px;
}

.step-btn {
  margin-left: 10px;
  padding: 10px 60px;
  border-radius: 5px;
  background-color: hsla(356.02649006622516, 62.14%, 47.65%, 1.00);
}

.step-btn.expand {
  padding-right: 100px;
  padding-left: 100px;
}

.step-btn.padoff {
  margin-left: 0px;
}

.heading-3 {
  margin-top: 0px;
  font-size: 20px;
}

.form-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.input-holder {
  padding-right: 0px;
  padding-left: 0px;
}

.btn-holder {
  padding-top: 14px;
}

.heading-4 {
  margin-bottom: 0px;
  font-size: 25px;
}

.sub-title {
  display: none;
  opacity: 0.6;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.success-message-2 {
  background-color: transparent;
}

.error-message-2 {
  background-color: transparent;
}

.sub-title1 {
  display: block;
  opacity: 0.6;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.personal-info-holder {
  margin-top: -10px;
  padding: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: #e8e8e8;
  border-radius: 5px;
}

.pinfo-input {
  margin-top: 0px;
  border-radius: 5px;
}

.field-holder.extra-pad {
  margin-top: 20px;
  margin-left: -10px;
  padding-left: 0px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

.pinfo-grid {
  grid-row-gap: 5px;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto 5px auto 5px auto 5px auto 5px auto 5px auto 5px auto 5px auto 5px auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
}

.grid-2 {
  grid-column-gap: 16px;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 16px 2.5fr;
  grid-template-columns: 1fr 2.5fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.label-input {
  font-size: 12px;
  font-weight: 600;
}

.grid-3 {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-4 {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.success-message-3 {
  background-color: transparent;
}

.grid-5 {
  grid-template-areas: ".";
  -ms-grid-columns: 1.5fr 1fr;
  grid-template-columns: 1.5fr 1fr;
}

.device-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f7f7f7;
}

.heading-5 {
  text-align: center;
}

.image-4 {
  width: 60%;
  float: none;
}

.grid-6 {
  grid-row-gap: 0px;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto 0px auto 0px auto 0px auto 0px auto 0px auto;
  grid-template-rows: auto auto auto auto auto auto;
}

.show-device {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.hide-device {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.heading-6 {
  text-align: center;
}

.grid-7 {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.required-icon {
  color: red;
}

.button-2 {
  width: 150px;
  height: 40px;
  margin-top: 25px;
  padding: 10px 30px 15px;
  border-radius: 5px;
  background-color: hsla(208.00000000000003, 0.00%, 40.67%, 1.00);
}

@media (max-width: 991px) {
  .feature1-image1 {
    margin-bottom: 0px;
    background-position: 50% 50%;
    background-size: cover;
  }
  .feature1-content {
    margin-bottom: 30px;
    padding-right: 0px;
    text-align: center;
  }
  .text-16.text-16-60 {
    width: 100%;
  }
  .decoline {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  ._6-col {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  ._3-col {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .feature1-image2 {
    display: none;
  }
  .wrap {
    width: 645px;
  }
  .wrap.w80-50-center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .feature1-image3 {
    overflow: visible;
  }
  .signup-form {
    height: 550px;
  }
  .signup-content-wrapper {
    padding: 40px;
  }
  .form-submit-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    text-align: center;
  }
  .flex-wrapper {
    margin-left: 0px;
  }
  .side-bar {
    width: 25%;
  }
  .main-content {
    padding-top: 60px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .content7-numbers-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .headline-6-col {
    display: block;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .content7-number-card {
    text-align: center;
  }
  .profile-container {
    padding-left: 20px;
  }
  .profiler {
    padding: 10px;
  }
  .form-block {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .form-block.required {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .form-block.required.card-page {
    padding-right: 20px;
    padding-left: 20px;
  }
  .form-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .btn-holder {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .heading-4 {
    margin-top: 20px;
    font-size: 20px;
  }
  .personal-info-holder {
    padding: 20px;
  }
  .heading-6 {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .top-nav {
    display: block;
  }
  .top-nav.no-mobile {
    display: block;
  }
  .hero-div-left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .hero-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .section-partner {
    padding-top: 60px;
    padding-bottom: 20px;
  }
  .section-about {
    padding-top: 20px;
  }
  .text-16.text-16-60 {
    text-align: justify;
  }
  ._6-col {
    margin-right: 0px;
  }
  .wrap {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
  .feature1-image3 {
    display: none;
    background-image: url('../images/in-store.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .section-faq {
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .image {
    margin-bottom: -40px;
  }
  .container-2 {
    background-color: transparent;
  }
  .nav-menu {
    background-color: hsla(196.36363636363632, 81.26%, 82.21%, 1.00);
  }
  .menu-button {
    background-color: transparent;
  }
  .menu-button.w--open {
    background-color: hsla(196.43835616438355, 80.22%, 82.16%, 1.00);
  }
  .link-block {
    display: inline-block;
    text-align: left;
  }
  .signup-image-wrapper {
    display: none;
    height: 300px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px;
  }
  .signup-form {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .side-bar {
    width: 26%;
  }
  .menu-link {
    padding-right: 10px;
    padding-left: 10px;
  }
  .menu-link:hover {
    padding-left: 5px;
  }
  .link-text {
    letter-spacing: 0px;
  }
  .map-line {
    margin-right: 40px;
    margin-left: 40px;
  }
  .pinfo-grid {
    grid-column-gap: 5px;
    grid-template-areas: ".";
  }
  .grid-2 {
    grid-column-gap: 5px;
    grid-template-areas: ".";
  }
  .label-input {
    font-size: 11px;
    line-height: 12px;
  }
  .grid-5 {
    grid-column-gap: 4px;
    grid-template-areas: ".";
  }
  .device-holder {
    display: block;
  }
  .heading-6 {
    text-align: center;
  }
}

@media (max-width: 479px) {
  .hero-text {
    margin-top: 0px;
    margin-bottom: -10px;
    padding-bottom: 0px;
    font-size: 27px;
  }
  .hero-div-left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .hero-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }
  .hero-desc {
    font-size: 13px;
  }
  .link-read-more {
    margin-top: 8px;
  }
  .section-partner {
    padding: 0px;
  }
  .customers {
    padding-right: 10px;
    padding-left: 20px;
  }
  .section-about {
    padding-top: 15px;
  }
  .about-title-span {
    font-size: 26px;
    line-height: 30px;
  }
  .about-title {
    font-size: 37px;
  }
  .decoline {
    width: 146px;
    text-align: left;
  }
  .feature1-image2 {
    display: block;
    margin-top: 8px;
    padding-top: 0px;
  }
  .btn {
    display: block;
    text-align: center;
  }
  .accordion-wrapper {
    padding-right: 20px;
    padding-left: 20px;
  }
  .image {
    margin-bottom: 0px;
    padding-top: 8px;
  }
  .signup-content-wrapper {
    padding: 30px;
  }
  .icon-2 {
    color: #ff1414;
  }
  .menu.w--open {
    background-color: #666;
  }
  .nav-menu-2 {
    background-color: #666;
  }
}

#w-node-5f0a98f73acc-0a8f5c37 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-765075eccf34-0a8f5c37 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-65e8e887b511-0a8f5c37 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-d3e0c7413dc1-0a8f5c37 {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-3b156dc16178-0a8f5c37 {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-5f0a98f73acc-2048e3ea {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-765075eccf34-2048e3ea {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-65e8e887b511-2048e3ea {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-d3e0c7413dc1-2048e3ea {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-3b156dc16178-2048e3ea {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-e8324fd08daa-2048e3ea {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-732db8c56c45-2048e3ea {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-705acf9f0d11-2048e3ea {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-20ebc9d92aa6-2048e3ea {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-1336e1e2467d-2048e3ea {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-48af0f6bf485-2048e3ea {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-a2265c386ff8-2048e3ea {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-ba5fc611b3fa-2048e3ea {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-d34513277626-2048e3ea {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-cfaec514f54f-2048e3ea {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-aa2b3ac47fed-2048e3ea {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-ebbf9f5466d3-2048e3ea {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-854e0ca2ffbf-2048e3ea {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
}

#w-node-6b3d1f334031-2048e3ea {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
}

#w-node-80201db10ef0-2048e3ea {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
}

#w-node-4b849a6aa855-2048e3ea {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
}

#w-node-28e6c6022095-2048e3ea {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
}

#w-node-44e40157d190-2048e3ea {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-1545bddeb039-2048e3ea {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-6fa11e81cac9-2048e3ea {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
}

#w-node-52cc5bcb80c2-2048e3ea {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-1be32b8f914c-2048e3ea {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-7c465bc50eb7-2048e3ea {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
  -ms-grid-row: 9;
  grid-row-start: 9;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
  -ms-grid-row-align: auto;
  align-self: auto;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-5f0a98f73acc-d7c7bb55 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-765075eccf34-d7c7bb55 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-65e8e887b511-d7c7bb55 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-d3e0c7413dc1-d7c7bb55 {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-3b156dc16178-d7c7bb55 {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-8bbbc68d6744-d7c7bb55 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

@media screen and (max-width: 767px) {
  #w-node-8bbbc68d6744-d7c7bb55 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
  }
}

#w-node-099ce61fbc50-d7c7bb55 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

#w-node-d3d60549e1fd-d7c7bb55 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-3473986f816c-d7c7bb55 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-ca8d452d5100-d7c7bb55 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-9c337a023b5a-d7c7bb55 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-154382697b0a-d7c7bb55 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
}

#w-node-5d51807ee354-d7c7bb55 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
}

#w-node-08d3893f0d79-cd90bf77 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-4413ac758b10-cd90bf77 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row-align: auto;
  align-self: auto;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-a60ab872627d-cd90bf77 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-c5e3c44c273b-cd90bf77 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-b81e9719dc7a-cd90bf77 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-2fb83caa6086-cd90bf77 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

@font-face {
  font-family: 'Fa solid 900';
  src: url('../fonts/fa-solid-900.woff2') format('woff2'), url('../fonts/fa-solid-900.eot') format('embedded-opentype'), url('../fonts/fa-solid-900.woff') format('woff'), url('../fonts/fa-solid-900.ttf') format('truetype'), url('../fonts/fa-solid-900.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fa brands 400';
  src: url('../fonts/fa-brands-400.woff2') format('woff2'), url('../fonts/fa-brands-400.eot') format('embedded-opentype'), url('../fonts/fa-brands-400.woff') format('woff'), url('../fonts/fa-brands-400.ttf') format('truetype'), url('../fonts/fa-brands-400.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fa 400';
  src: url('../fonts/fa-regular-400.woff2') format('woff2'), url('../fonts/fa-regular-400.eot') format('embedded-opentype'), url('../fonts/fa-regular-400.woff') format('woff'), url('../fonts/fa-regular-400.ttf') format('truetype'), url('../fonts/fa-regular-400.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}